h1 {
    margin:auto;
    text-align: center;
    background-color: var(--header_background);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--header_primary)
}